$color-background: rgb(68,68,68);

$color-separator: rgb(62, 62, 62);

$color-text: rgb(186,186,186);

$color-background-button: transparent;
$color-background-button-hover: rgb(61,61,61);
$color-background-button-active: rgb(221,221,221);
$color-border-button: rgb(220,220,220);
$color-button-text: white;
$color-button-text-active: black;

$font-family: sans-serif;
$font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
$font-size-text: 13px;
$font-size-button: 12px;

